@charset "utf-8";

/* Pallette */
:root {
	--color-primary-1: #003049;
	--color-primary-2: #669BBC;
	--color-accent: #780000;
	--color-white:#FDF0D5;
	--color-highlight:#C1121F;

	--color-font-white:#ffffff;
	--color-font-black:#000000;
}

.body-main {
	background-color:var(--color-white);
    font-family: "Outfit", serif;
}

[lang="zh-HK"] {
    font-family: 'Noto Sans TC', serif !important;
}

nav {
    width: 100%;
    height: 80px;

	padding: 0px 30px !important;
    
    background-color: var(--color-primary-1);
    color: var(--color-font-white);

    position: sticky;
	top: 0px;

    filter: drop-shadow(0px 0px 10px var(--color-font-white));

	z-index: 1000;
}

nav a {
    color: var(--color-font-white);
    text-decoration: none;
}

.nav-col-header {
    max-width: 200px !important;
}

nav h1 {
    font-size: 25px;
    font-weight: 600;

    padding-left: 1vw;
}

nav ul, nav li {
    display: inline-block;
    font-size: 20px;
}

nav ul {
    height: 100%;
    padding: 5px 0px 0px 0px;
}

nav li {
    padding: 19.5px 15px;
    margin: 0px 0px 15px 0px;

    transition: 0.3s ease-in-out;
}

nav li:hover {
    background-color: var(--color-highlight);
}

.nav-col-action {
    display: flex;
    justify-content: right;
    align-items: center;
}

header {
    height: 20vw;
    max-height: 180px;
    width: 100%;
}

.s-header-l, .s-header-r, .s-header-m{
	height: 10vw;
    min-height: 100px;
    max-height: 150px;

	color: var(--color-font-white);
	background-color: var(--color-primary-1);

	border-radius: 0px 10px 10px 0px;
	filter: drop-shadow( -5px 5px 5px black );

    margin-bottom: 100px;
}

.s-header-l h2, .s-header-r h2, .s-header-m h2{
	font-size: clamp(50px, 5vw, 80px);
    height: 66%;
	filter: drop-shadow( 0px 0px 3.5px black );
	font-weight: 700;
}

.s-header-l {
    margin-right: 30vw !important;
    h2 {left: 10vw;}
}

.s-header-r {
	text-align: right;
    margin-left: 30vw !important;
	border-radius: 10px 0px 0px 10px;
	filter: drop-shadow( 5px 5px 5px black );
    h2 {right: 10vw;}
}

.s-header-m {
    margin: 0px auto !important;
    border-radius: 10px;
    max-width: none;
    filter: drop-shadow( 0px 5px 5px black );
}

footer {
    padding: 0px 0px 40px 0px;
    background-color: var(--color-primary-1);
    color: var(--color-font-white);
    overflow: hidden;
}

.footer-credit {
    height:50px;
    background-color: var(--color-highlight);
    white-space: nowrap;
}

.footer-credit h2 {
    margin: auto;
    font-size: 25px;
}

.footer-content { padding:00px 40px !important; }

.footer-content-header h2, .footer-content-h { font-size: 40px; font-weight: 700; }

.footer-content-header {
    margin-top:20px !important;
    position: relative;
    left: -25px;
}

.footer-content-h, .footer-content-p {
    margin-left: 30vw !important;
    font-size: 30px;
    @media (max-width: 900px) {
        margin-left: 0px !important;
    }
}

.footer-content-h { margin-top: 30px !important; }

.footer-content-p {
    font-size: 20px;
    word-break: break-all;
}

/* Helper Classes*/
.extender {height: 200px;}

.v-center {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.h-center {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

.overflow-y { overflow-y:auto; }

.w-test{
    background-color: white;
    mix-blend-mode: difference;
    height: 10px;
    width: 100%;
}

.w-full{ width: 100%; }

.h-full{ height: 100%; }

.b-solid {border: solid;}

.b-horizontal {border-right: solid; border-left: solid;}